<div class="flex flex-col min-h-screen">
  <main class="flex-grow flex flex-col justify-between">
    <!-- Landing Page Section -->
    <section class="flex-grow bg-lightGray pb-6">
      <app-landing-page></app-landing-page>
    </section>

    <!-- Trusted By Section -->
    <section
      class="flex-grow bg-darkMint text-center text-white flex flex-col justify-center"
    >
      <app-trusted-by></app-trusted-by>
    </section>

    <!-- Password Form Section -->
    <section class="flex-grow bg-lightGray py-6">
      <app-password-form></app-password-form>
    </section>

    <!-- Random Facts Section -->
    <section
      class="flex-grow bg-lightBlue py-6 text-center flex flex-col justify-center"
    >
      <app-random-facts></app-random-facts>
    </section>
  </main>

  <!-- Footer -->
  <footer class="bg-surface text-primary py-2 text-center text-xs">
    <p>
      Created by
      <a
        href="https://p541m.github.io/portfolio/"
        target="_blank"
        rel="noopener noreferrer"
        class="underline"
      >
        Psalm Eleazar
      </a>
    </p>
  </footer>
</div>
