<div class="flex flex-col min-h-screen bg-gray-100">
  <main class="flex-grow flex items-center justify-center">
    <div class="space-y-12">
      <app-password-form></app-password-form>
      <app-trusted-by></app-trusted-by>
      <app-random-facts></app-random-facts>
    </div>
  </main>

  <footer class="text-center text-sm text-muted py-3">
    <p>
      Created by
      <a
        href="https://p541m.github.io/portfolio/"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:underline"
      >
        Psalm Eleazar
      </a>
    </p>
  </footer>
</div>
