<div
  class="max-w-lg mx-auto p-8 bg-white shadow-lg rounded-lg border border-gray-200"
>
  <h1 class="text-2xl font-bold text-gray-800 mb-6">Password Generator</h1>
  <form (submit)="generatePassword()" class="space-y-6">
    <div class="flex items-center justify-between">
      <label for="length" class="block text-lg font-medium text-gray-700"
        >Password Length:</label
      >
      <span class="text-lg font-medium text-gray-700"
        >{{ options.length }} characters</span
      >
    </div>
    <div>
      <input
        type="range"
        [(ngModel)]="options.length"
        name="length"
        min="12"
        max="100"
        class="w-full mt-2 accent-blue-600"
      />
    </div>

    <div class="grid grid-cols-2 gap-4">
      <div class="flex items-center">
        <input
          type="checkbox"
          [(ngModel)]="options.useNumbers"
          name="useNumbers"
          class="mr-2 h-5 w-5 text-blue-600 border-gray-300 rounded focus:ring-blue-500"
        />
        <label class="text-lg text-gray-700">Numbers</label>
      </div>
      <div class="flex items-center">
        <input
          type="checkbox"
          [(ngModel)]="options.useSymbols"
          name="useSymbols"
          class="mr-2 h-5 w-5 text-blue-600 border-gray-300 rounded focus:ring-blue-500"
        />
        <label class="text-lg text-gray-700">Symbols</label>
      </div>
      <div class="flex items-center">
        <input
          type="checkbox"
          [(ngModel)]="options.useLowercase"
          name="useLowercase"
          class="mr-2 h-5 w-5 text-blue-600 border-gray-300 rounded focus:ring-blue-500"
        />
        <label class="text-lg text-gray-700">Lowercase</label>
      </div>
      <div class="flex items-center">
        <input
          type="checkbox"
          [(ngModel)]="options.useUppercase"
          name="useUppercase"
          class="mr-2 h-5 w-5 text-blue-600 border-gray-300 rounded focus:ring-blue-500"
        />
        <label class="text-lg text-gray-700">Uppercase</label>
      </div>
    </div>

    <button
      type="submit"
      class="w-full py-3 mt-6 bg-blue-600 text-white rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
    >
      Generate Password
    </button>
  </form>

  <div *ngIf="generatedPassword" class="mt-8">
    <p class="text-xl font-semibold text-gray-800">Your Password:</p>
    <div class="flex items-center justify-between mt-2">
      <p class="text-lg font-mono text-blue-600 break-words">
        {{ generatedPassword }}
      </p>
      <button
        (click)="copyPassword()"
        class="text-gray-500 hover:text-gray-600 bg-transparent"
        aria-label="Copy password"
      >
        <svg
          class="w-5 h-5 ml-2"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M8 7h10a2 2 0 012 2v10a2 2 0 01-2 2H8a2 2 0 01-2-2V9a2 2 0 012-2z"
          ></path>
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M16 3H8a2 2 0 00-2 2v4m2-4h10a2 2v10"
          ></path>
        </svg>
      </button>
    </div>

    <app-password-strength
      [password]="generatedPassword"
    ></app-password-strength>

    <button
      (click)="openEmailForm()"
      class="w-full mt-6 py-3 bg-green-600 text-white rounded-lg shadow-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500"
    >
      Send to My Email
    </button>

    <!-- Modal for Email Form -->
    <div
      *ngIf="showEmailForm"
      class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50"
    >
      <div class="bg-white p-6 rounded-lg shadow-lg max-w-md w-full space-y-4">
        <h2 class="text-xl font-semibold text-gray-800">Send Password</h2>
        <div>
          <label for="email" class="block text-lg font-medium text-gray-700"
            >Email Address:</label
          >
          <input
            [(ngModel)]="email"
            type="email"
            class="w-full mt-2 p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
          />
        </div>
        <div>
          <label
            for="passwordName"
            class="block text-lg font-medium text-gray-700"
            >Password Name:</label
          >
          <input
            [(ngModel)]="passwordName"
            type="text"
            class="w-full mt-2 p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
          />
        </div>
        <div>
          <label
            for="generatedPassword"
            class="block text-lg font-medium text-gray-700"
            >Password:</label
          >
          <p
            class="w-full mt-2 p-2 border rounded bg-gray-100 font-mono text-gray-700 break-words"
          >
            {{ generatedPassword }}
          </p>
        </div>
        <div class="flex justify-end space-x-2 mt-4">
          <button
            (click)="sendEmail()"
            class="px-4 py-2 bg-blue-600 text-white rounded-lg"
          >
            Send
          </button>
          <button
            (click)="closeEmailForm()"
            class="px-4 py-2 bg-gray-600 text-white rounded-lg"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
