<div class="p-8 bg-lightGray">
  <div class="max-w-3xl mx-auto">
    <h1 class="text-3xl font-bold text-primary mb-4">Password Generator</h1>
    <form (submit)="generatePassword()" class="space-y-6">
      <div class="flex items-center justify-between">
        <label for="length" class="block text-lg font-medium text-primary"
          >Password Length:</label
        >
        <span class="text-lg font-medium text-primary"
          >{{ options.length }} characters</span
        >
      </div>
      <div>
        <input
          type="range"
          [(ngModel)]="options.length"
          name="length"
          min="12"
          max="100"
          class="w-full mt-2 accent-hintBlue"
        />
      </div>

      <div class="grid grid-cols-2 gap-4">
        <div class="flex items-center">
          <input
            type="checkbox"
            [(ngModel)]="options.useNumbers"
            name="useNumbers"
            class="mr-2 h-5 w-5 text-hintBlue rounded focus:ring-primary"
          />
          <label class="text-lg text-primary">Numbers</label>
        </div>
        <div class="flex items-center">
          <input
            type="checkbox"
            [(ngModel)]="options.useSymbols"
            name="useSymbols"
            class="mr-2 h-5 w-5 text-hintBlue rounded focus:ring-primary"
          />
          <label class="text-lg text-primary">Symbols</label>
        </div>
        <div class="flex items-center">
          <input
            type="checkbox"
            [(ngModel)]="options.useLowercase"
            name="useLowercase"
            class="mr-2 h-5 w-5 text-hintBlue rounded focus:ring-primary"
          />
          <label class="text-lg text-primary">Lowercase</label>
        </div>
        <div class="flex items-center">
          <input
            type="checkbox"
            [(ngModel)]="options.useUppercase"
            name="useUppercase"
            class="mr-2 h-5 w-5 text-hintBlue rounded focus:ring-primary"
          />
          <label class="text-lg text-primary">Uppercase</label>
        </div>
      </div>

      <button
        type="submit"
        class="w-full py-3 mt-6 bg-primary text-surface rounded-lg shadow-md hover:bg-secondary"
      >
        Generate Password
      </button>
    </form>

    <div *ngIf="generatedPassword" class="mt-8">
      <p class="text-xl font-semibold text-primary">Your Password:</p>
      <div class="flex items-center justify-between mt-2">
        <p class="text-lg font-mono text-hintBlue break-words">
          {{ generatedPassword }}
        </p>
        <div class="flex items-center space-x-2">
          <button
            (click)="copyPassword()"
            class="text-muted hover:text-hintBlue bg-transparent"
            aria-label="Copy password"
          >
            <svg
              class="w-5 h-5"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M8 7h10a2 2 0 012 2v10a2 2 0 01-2 2H8a2 2 0 01-2-2V9a2 2 0 012-2z"
              ></path>
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M16 3H8a2 2v10"
              ></path>
            </svg>
          </button>
        </div>
      </div>
    </div>

    <button
      (click)="openEmailForm()"
      class="w-full mt-6 py-3 bg-primary text-surface rounded-lg shadow-md hover:bg-secondary"
    >
      Send to My Email
    </button>

    <!-- Modal for Email Form -->
    <div
      *ngIf="showEmailForm"
      class="fixed inset-0 flex items-center justify-center bg-muted bg-opacity-50"
    >
      <div
        class="bg-surface p-6 rounded-lg shadow-lg max-w-md w-full space-y-4"
      >
        <h2 class="text-xl font-semibold text-primary">Send Password</h2>
        <div>
          <label for="email" class="block text-lg font-medium text-primary"
            >Email Address:</label
          >
          <input
            [(ngModel)]="email"
            type="email"
            class="w-full mt-2 p-2 border border-muted rounded focus:ring-2 focus:ring-hintBlue"
          />
        </div>
        <div>
          <label
            for="passwordName"
            class="block text-lg font-medium text-primary"
            >Password Name:</label
          >
          <input
            [(ngModel)]="passwordName"
            type="text"
            class="w-full mt-2 p-2 border border-muted rounded focus:ring-2 focus:ring-hintBlue"
          />
        </div>
        <div>
          <label
            for="generatedPassword"
            class="block text-lg font-medium text-primary"
            >Password:</label
          >
          <p
            class="w-full mt-2 p-2 border rounded font-mono text-primary break-words"
          >
            {{ generatedPassword }}
          </p>
        </div>
        <div class="flex justify-end space-x-2 mt-4">
          <button
            (click)="sendEmail()"
            class="px-4 py-2 bg-primary text-surface rounded-lg"
          >
            Send
          </button>
          <button
            (click)="closeEmailForm()"
            class="px-4 py-2 bg-muted text-surface rounded-lg"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
