<div>
  <h1>Password Generator</h1>
  <form (submit)="generatePassword()">
    <label for="length">Password Length:</label>
    <input type="number" [(ngModel)]="options.length" name="length" required />

    <label>
      <input
        type="checkbox"
        [(ngModel)]="options.useNumbers"
        name="useNumbers"
      />
      Use Numbers
    </label>
    <label>
      <input
        type="checkbox"
        [(ngModel)]="options.useUppercase"
        name="useUppercase"
      />
      Use Uppercase Letters
    </label>
    <label>
      <input
        type="checkbox"
        [(ngModel)]="options.useLowercase"
        name="useLowercase"
      />
      Use Lowercase Letters
    </label>
    <label>
      <input
        type="checkbox"
        [(ngModel)]="options.useSymbols"
        name="useSymbols"
      />
      Use Symbols
    </label>

    <button type="submit">Generate Password</button>
  </form>

  <div *ngIf="generatedPassword">
    <p>Your Password: {{ generatedPassword }}</p>
    <app-password-strength
      [password]="generatedPassword"
    ></app-password-strength>

    <button (click)="sendEmail()">Email Password</button>
  </div>
</div>
