<div class="bg-background h-[25vh] text-center flex flex-col justify-center">
  <h2 class="text-2xl font-bold text-primary mt-4">Endorsed by Experts at</h2>
  <div class="flex items-center justify-center space-x-12">
    <div class="flex flex-col items-center">
      <img src="/assets/logos/lexus.png" alt="Lexus Logo" class="h-28" />
    </div>
    <div class="flex flex-col items-center">
      <img src="/assets/logos/toyota.png" alt="Toyota Logo" class="h-28" />
    </div>
    <div class="flex flex-col items-center">
      <img
        src="/assets/logos/uog.png"
        alt="University of Guelph Logo"
        class="h-28"
      />
    </div>
    <div class="flex flex-col items-center">
      <img
        src="/assets/logos/sunnybrook.png"
        alt="Sunnybrook Logo"
        class="h-28"
      />
    </div>
    <div class="flex flex-col items-center">
      <img
        src="/assets/logos/ubc.png"
        alt="University of British Columbia Logo"
        class="h-28"
      />
    </div>
    <div class="flex flex-col items-center">
      <img
        src="/assets/logos/milestones.png"
        alt="Milestones Logo"
        class="h-28"
      />
    </div>
    <div class="flex flex-col items-center">
      <img
        src="/assets/logos/boscoboys.png"
        alt="BoscoBoys Logo"
        class="h-28"
      />
    </div>
  </div>
</div>
