<div class="h-[25vh] text-center flex flex-col justify-center">
  <h2
    class="text-base sm:text-lg md:text-xl lg:text-2xl xl:text-2xl font-bold text-primary mb-7"
  >
    Endorsed by Experts at
  </h2>
  <div class="flex flex-wrap items-center justify-center gap-6">
    <div class="flex flex-col items-center">
      <img
        src="/assets/logos/lexus.png"
        alt="Lexus Logo"
        class="h-auto max-h-[10vh] max-w-[20vw] sm:max-w-[10vw] p-2"
      />
    </div>
    <div class="flex flex-col items-center">
      <img
        src="/assets/logos/toyota.png"
        alt="Toyota Logo"
        class="h-auto max-h-[10vh] max-w-[20vw] sm:max-w-[10vw] p-2"
      />
    </div>
    <div class="flex flex-col items-center">
      <img
        src="/assets/logos/uog.png"
        alt="University of Guelph Logo"
        class="h-auto max-h-[10vh] max-w-[20vw] sm:max-w-[10vw] p-2"
      />
    </div>
    <div class="flex flex-col items-center">
      <img
        src="/assets/logos/sunnybrook.png"
        alt="Sunnybrook Logo"
        class="h-auto max-h-[10vh] max-w-[20vw] sm:max-w-[10vw] p-2"
      />
    </div>
    <div class="flex flex-col items-center">
      <img
        src="/assets/logos/ubc.png"
        alt="University of British Columbia Logo"
        class="h-auto max-h-[10vh] max-w-[20vw] sm:max-w-[10vw] p-2"
      />
    </div>
    <div class="flex flex-col items-center">
      <img
        src="/assets/logos/milestones.png"
        alt="Milestones Logo"
        class="h-auto max-h-[10vh] max-w-[20vw] sm:max-w-[10vw] p-2"
      />
    </div>
    <div class="flex flex-col items-center">
      <img
        src="/assets/logos/boscoboys.png"
        alt="BoscoBoys Logo"
        class="h-auto max-h-[10vh] max-w-[20vw] sm:max-w-[10vw] p-2"
      />
    </div>
  </div>
</div>
